<div class="body">

    <div class="main">

        <div class="profile">
            <img src="../../assets/images/profile.png" alt="">
        </div>
        <h1>CONTACT  US</h1>
        <div class="login">

            <input type="text" placeholder="Enter Your Name">

            <input type="email" placeholder="Enter Your E-mail">
            
            <input type="number" name="num" placeholder="Enter Your Contact Number">

         
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                
            <button type="submit" class="btn" routerLink="/contentpage" routerLinkActive="active">Submit</button>

            <p>New Member?<a routerLink="/signup" routerLinkActive="active">Sign up</a></p>

        </div>

    </div>

</div>
