<div class="nav">
  <div class="logo">Game Tech <img src="../assets/images/joy2.png" alt="logo"></div>
  <div class="menu">
    <li><a routerLink="" routerLinkActive="active">home</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
    

      <li><a routerLink="/login" routerLinkActive="active">login</a></li>
     
  </div>
</div>

<router-outlet></router-outlet>
<div class="footer">
  <div class="fmain">
    <div class="fmenu">
      <li><a routerLink="" routerLinkActive="active">home</a></li>
      
      <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
      <li><a routerLink="/login" routerLinkActive="active">login</a></li>
    </div>
    <div class="catogary">
      <li id="h1">catogary</li>
      <li>Adventure</li>
      <li>Action</li>
      <li>Puzzle</li>
      <li>Racing</li>
  
    </div>

    <div class="smedia">
      <img src="../assets/images/fb1.png" alt="">
      <img src="../assets/images/twitter1.png" alt="">
      <img src="../assets/images/2111708.png" alt="">
      <img src="../assets/images/insta.png" alt="">
    </div>

  </div>
  
</div>