<div class="body">
    <div class="container">
        <h1>The Adventures</h1>
        <div class="card-container">
            <div class="card">
                <div class="content">
                    <p class="content1">Clash of clans </p>
                    <p class="content2">"Customize your village, build an army and crush your opponents"</p>

                    <button class="btn"><a href="https://supercell.com/en/games/clashofclans/"> Read More</a> </button>
                </div>
                <div class="img-container">
                    <img src="../../assets/images/1234.png" class="pic" alt="pic">

                </div>
            </div>







            <div class="card">
                <div class="content">
                    <p class="content1">god of war</p>
                    <p class="content2">"Journey through dangerous landscapes by facing variety of enemy creatures."</p>

                    <button class="btn"><a href="https://www.playstation.com/en-in/games/god-of-war-ragnarok/"> Read
                            More</a> </button>
                </div>
                <div class="img-container">
                    <img src="../../assets/images/GOF.png" class="pic" alt="pic">
                </div>
            </div>







            <div class="card">
                <div class="content">
                    <p class="content1">call of duty</p>
                    <p class="content2">"WELCOME TO AL MAZRAH
                        READY UP AND DROP INTO CALL OF DUTY: WARZONE"</p>

                    <button class="btn"><a href="https://www.callofduty.com/"> Read More</a> </button>

                </div>
                <div class="img-container">
                    <img src="../../assets/images/cod.png" class="pic" alt="pic">
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <p class="content1">Assassin's Creed</p>
                    <p class="content2">"It features new gameplay elements such as hunting and dual wielding of
                        weaponry"</p>

                    <button class="btn"><a href="https://assassinscreed.fandom.com/wiki/Ratonhnhak%C3%A9:ton/"> Read
                            More</a> </button>

                </div>
                <div class="img-container">
                    <img src="../../assets/images/assassins.png" class="pic" alt="pic">
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <h1>pick your favorite</h1>
        <div class="card-container">
            <div class="card">
                <div class="content">
                    <p class="content1">Solitair </p>
                    <p class="content2">"To win Solitaire, you must get all the cards onto the Foundation piles"</p>

                    <button class="btn"><a href="https://solitaired.com/"> Read More</a> </button>
                </div>
                <div class="img-container">
                    <img src="../../assets/images/cards.png" class="pic" alt="pic">

                </div>
            </div>







            <div class="card">
                <div class="content">
                    <p class="content1">Super Mario</p>
                    <p class="content2">"Journey  through the Mushroom Kingdom, surviving the forces of the antagonist"</p>

                    <button class="btn"><a href="https://supermarioplay.com/"> Read
                            More</a> </button>
                </div>
                <div class="img-container">
                    <img src="../../assets/images/mario.png" class="pic" alt="pic">
                </div>
            </div>







            <div class="card">
                <div class="content">
                    <p class="content1">Cricket</p>
                    <p class="content2">"Bat, bowl and field your way to the top of the league in this fast, fun and exciting"</p>

                    <button class="btn"><a href="https://poki.com/en/cricket"> Read More</a> </button>

                </div>
                <div class="img-container">
                    <img src="../../assets/images/cricket.png" class="pic" alt="pic">
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <p class="content1">Fast and Furious</p>
                    <p class="content2">"Get your spy gear ready and ride to victory in Fast & Furious"</p>

                    <button class="btn"><a href="https://www.giantbomb.com/the-fast-and-the-furious/3025-848/games/"> Read
                            More</a> </button>

                </div>
                <div class="img-container">
                    <img src="../../assets/images/fast1.png" class="pic" alt="pic">
                </div>
            </div>

        </div>
    </div>
</div>
