
<div class="body">

    <div class="main">
        <div class="content"> 
            <h1><span>Game</span> buzzar</h1>
            
            <p>This  gaming section brings the latest video games and reviews of the most exciting releases with industry's biggest names</p>
            <button type="submit" routerLink="/login" routerLinkActive="active">login to explore</button>
         </div>
        <div class="cover-photo">
            <img src="../../assets/images/assassin1.png" alt="">
        </div>
    </div>

</div>